@font-face {
    font-family: bebas;
    src: url('./fonts/BebasNeue-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding: 80px;
    font-family: bebas;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    background-color: #ECFFEC;
}

header {
    max-width: 100%;
    height: 80px;
    background-color: #356735;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: #53f353 solid 2px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

nav h1 {
    margin-left: 300px;
    font-size: 36px;
    color: white;
}

nav h1 a{
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 300px;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

nav ul li a{
    margin-left: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#hero {
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-hero {
    width: 1320px;
    display: flex;
    justify-content: space-between;
}

.left-components {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-components h1, h2, a{
    color: #252525;
}

.left-components span {
    color: #356735;
}

.left-components h1 {
    width: 50%;
    font-size: 128px;
    flex-wrap: wrap;
    line-height: 80%;
}

.left-components h2 {
    font-size: 64px;
    margin-bottom: 80px;
}

.left-components a {
    width: 300px;
    height: 80px;
    background-color: #252525;
    border-radius: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 32px;
}

.right-img img{
    width: 700px;
    height: 700px;
    margin-bottom: -200px;
}

#sobre {
    min-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-sobre {
    width: 900px;
    height: 500px;
    background-color:#3b583b;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    border: #53f353 solid 3px;
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.25); 
}

.text-sobre {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20px;
}

.text-sobre h1{
    color: #53f353;
    font-size: 50px;
}

.text-sobre p {
    color: white;
    font-size: 26px;
}

.dias-campus h2 {
    color:#3b9e3b;
    font-size: 30px;
}

.dias-campus ul {
    list-style: none;
}

.dias-campus li {
    font-size: 20px;
    color: white;
}

.img-sobre img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#area-inte {
    min-height: 700px;
    background-color: #d8f7d8;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#area-inte h1 {
    font-size: 50px;
    margin: 80px 0px;
    color: #3b9e3b;
}

.container-cards-inte {
    display: flex;
    flex-wrap: wrap;
}

.card-inte {
    width: 400px;
    height: 600px;
    background-color: #3b583b;
    border-radius: 10px;
    margin: 0px 25px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .5s;
}

.card-inte img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 100px;
    filter: brightness(50%);
    transition: .5s;
}

.card-inte:hover {
    transform: scale(1.05);
}

.card-inte:hover img{
    filter: brightness(100%);
}

.card-inte h2 {
    font-size: 32px;
    color: white;
}

#disciplinas {
    min-height: 700px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#disciplinas h1 {
    font-size: 50px;
    margin: 70px 0px;
    color: #3b9e3b;
}

.container-table-disciplinas table{
    border-collapse: collapse;
    background: #d8f7d8;
    font-size: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.container-table-disciplinas table td{
    border: 1px solid black;
    color: #295729;
    height: 50px;
}

.container-table-disciplinas table td:hover{
    background-color: #bad3ba;
    color: #3b9e3b;
}

.container-table-disciplinas table th {
    width: 200px;
    height: 80px;
    border: 1px solid black;
    background: #4c4b4b;
    color: #ECFFEC;
}

#educacao {
    min-height: 700px;
    background-color: #d8f7d8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#educacao h1 {
    font-size: 50px;
    margin: 70px 0px;
    color: #3b9e3b;
}

.container-educacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.edu {
    text-align: center;
    transition: .5s;
}

.edu:hover {
    transform: scale(1.05);
    color: #3b9e3b;
}

.edu:hover h2 {
    color: #3b9e3b;
}

.edu h2 {
    font-size: 36px;
    transition: .5s;
}

.edu h3 {
    font-size: 28px;
}

.edu h4 {
    font-size: 20px;
}

.linha {
    background-color: #252525;
    height: 80px;
    width: 5px;
    margin: 30px 0px;
}

#publis {
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#publis h1 {
    font-size: 50px;
    margin: 70px 0px;
    color: #3b9e3b;
}

.container-publis {
    text-decoration: none;
}

.container-publis .download{
    display: flex;
    justify-content: center;
    display: none;
    transition: .5s;
    font-size: 18px;
    margin-bottom: 20px;
    color: #3b9e3b;
}

.container-publis:hover .download {
    display: flex;
}

.container-publis:hover i{
    color: #3b9e3b;
    transform: scale(1.1);
}

.container-publis:hover h2{
    transform: scale(1.1);
}

.container-publis:hover h3{
    transform: scale(1.1);
}

.container-publis:hover p{
    transform: scale(1.1);
}

.container-publis i {
    font-size: 500px;
    color: #295729;
    position: relative;
    z-index: 1;
    transition: .5s;
}

.container-publis h2{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 28px;
    color: #bad3ba;
    transition: .5s;
}

.container-publis h3{
    position: absolute;
    z-index: 2;
    margin-top: 150px;
    margin-left: 30px;
    font-size: 20px;
    color: #a3b9a3;
    transition: .5s;
}

.container-publis .text-esquerda {
    position: absolute;
    z-index: 2;
    margin-top: 200px;
    margin-left: 30px;
    width: 180px;
    font-size: 20px;
    color: white ;
    transition: .5s;
}

.container-publis .text-direita{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 350px;
    width: 180px;
    font-size: 26px;
    color: white ;
    transition: .5s;
}

footer {
    min-height: 500px;
    background-color: #295729;
}

footer a {
    text-decoration: none;
}

.container-footer {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 80px;
}

.contact-circle {
    background-color: #3b9e3b;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.contact-circle:hover {
    transform: scale(1.1);
}

.contact-circle:hover .fa-envelope{
    color: red;
}

.contact-circle:hover .fa-instagram {
    color: #e95950;
}

.contact i{
    color: #d8f7d8;
    font-size: 40px;
    transition: .5s;
}

.contact h1 {
    margin-top: 20px;
    font-size: 30px;
    color: white;
}

.contact p {
    margin-top: 20px;
    font-size: 20px;
    color: white;
}

@media screen and (max-width:1450px) {
    nav h1 {
        margin-left: 50px;
        font-size: 20px;
    }

    nav ul {
        margin-right: 50px;
    }

    nav ul li a {
        font-size: 12px;
    }

    .container-hero {
        flex-direction: column;
        align-items: center;
    }

    .left-components {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -200px;
    }

    .left-components h1 {
        width: 50%;
        font-size: 64px;
        flex-wrap: wrap;
        line-height: 80%;
        text-align: center;
    }
    
    .left-components h2 {
        font-size: 32px;
        margin-bottom: 80px;
        text-align: center;
    }

    .right-img img{
        width: 300px;
        height: 300px;
    }

    .left-components a {
        width: 250px;
        height: 60px;
    }

    .container-sobre {
        flex-direction: column-reverse;
        width: 90%;
        min-height: 550px;
    }

    .text-sobre {
        margin-left: 0;
    }

    .text-sobre h1, p {
        text-align: center;
    }

    .text-sobre h1{
        color: #53f353;
        font-size: 40px;
    }
    
    .text-sobre p {
        color: white;
        font-size: 18px;
        margin-top: 10px;
    }
    
    .dias-campus h2 {
        color:#3b9e3b;
        font-size: 22px;
        text-align: center;
        margin-top: 40px;
    }
    
    .dias-campus ul {
        list-style: none;
        margin: 20px 0px;
    }
    
    .dias-campus li {
        font-size: 16px;
        color: white;
        text-align: center;
    }
    
    .img-sobre img {
        width: 200px;
        height: 200px;
        border-radius: 10px;
        margin-left: 165px;
    }
    .card-inte {
        width: 350px;
        height: 550px;
        margin: 0px 25px;
        margin-bottom: 50px;
    }

    .card-inte img {
        width: 300px;
        height: 300px;
    }

    .container-table-disciplinas table th {
        width: 100px;
    }

    .container-publis {
        transform: scale(0.6);
    }

    .contact {
        margin-right: 10px;
    }

    .contact-circle {
        width: 70px;
        height: 70px;
    }

    .contact i {
        font-size: 40px;
    }

    .contact h1 {
        font-size: 20px
    }

    .contact p {
        font-size: 15px;
    }

}